footer {
    position: relative;
    padding: 20px 50px;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteiner, .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.conteiner a{
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}

.conteiner a:hover{
    transform: translateY(-10px);
}

.menu h1{
    margin: 0 10px 10px 0;
    font-size: 15px;
    display: inline-block;
    color: var(--text);
    transition: .5s;
    opacity: .60;
}

.menu h1:hover{
    opacity: 1;
}

p{
    color: var(--text);
    text-align: center;
    font-size: 12px;
}


