footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--primary);
    z-index: 1;
}
.conteiner, .menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.conteiner a{
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}

.conteiner a:hover{
    transform: translateY(-10px);
}

p{
    color: var(--text);
    text-align: center;
    font-size: 12px;
}


