.conteiner {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--text);
    background: var(--primary);
    justify-content: space-around;
    z-index: 2;
}

.icon {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.info h1{

}

.icon a {
    transition: .5s;
}

.icon a:hover {
    transform: translateY(-10px);

}
.iconName {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    font-size: .5rem;
    text-transform: uppercase;
}


@media (max-width: 690px) {
    .conteiner {
        display: grid;
        align-items: center;
        text-align: center;
        height: 9rem;
    }

    .info {
        font-size: .7rem;
        padding: 0;

    }

    img {
        width: 2rem;
        height: 2rem;
    }

    .icon {
        padding: .2rem;
    }

    .iconName{
        font-size: .4rem;
    }
}