.conteiner {
    display: flex;
    position: relative;
    width: 100%;
    height: 6rem;
    color: var(--text);
    background: var(--primary);
    justify-content: space-between;
}

.presentation {
    display: flex;
}

.logo {
    width: 6rem;
    height: 6rem;
    padding-left: 2rem;
}

.info {
    padding-left: 1rem;
    padding-top: 2rem;
    font-size: .5rem;
}

.options {
    display: grid;
    text-transform: uppercase;
    padding-right: 3rem;
}

img {
    width: 2rem;
    height: 2rem;

}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem 0rem 1rem;
}

.iconName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding-bottom: 2rem;
    font-size: .5rem;
    text-decoration: none;
}

@media (max-width: 620px) {
    .conteiner {
        width: 100%;
        height: 5rem;
    }

    .info {
        font-size: .4rem;
    }

    .iconName {
        font-size: .4rem;
    }

    .logo {
        width: 5rem;
        height: 5rem;
        padding-left: 1rem;
    }

    img {

        width: 1.5rem;
        height: 1.5rem;
    }
}