.imagesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 37rem;
    overflow-y: scroll;
    padding: 1rem;
}
.imagesContainerdiv{
    text-align: center;
    padding-top: 1rem;
}

.imagesContainer img {
    width: 24rem;
    height: 15rem;
    padding-bottom: 1rem;
    border-radius: 2rem;
}

.imagesContainer a {
    text-decoration: none;
    color: var(--text);
    font-size: 1rem;
    font-weight: bold;
}

.imagesContainer a:hover {
    color: var(--texth);
}

.imagesContainer h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.imagesContainer p {
    padding-top: 1rem;
    color: var(--text)
}

@media (max-width:1200px) {

    .imagesContainer img {
        width: 18rem;
        height: 12rem;
    }

    .imagesContainer h1 {
        font-size: 2rem;
    }

    .imagesContainer a {
        font-size: 1.3rem;
    }

    .imagesContainer p {
        font-size: .9rem;
    }
}

@media (max-width:900px) {
    .imagesContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .imagesContainer img {
        align-items: center;
        width: 15rem;
        height: 10rem;
    }

    .imagesContainer h1 {
        font-size: 1.4rem;
    }

    .imagesContainer a {
        font-size: .8rem;
    }

    .imagesContainer p {
        font-size: .7rem;
    }
}

@media (max-width:630px) {
    .imagesContainer {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
    }

    .imagesContainer img {
        width: 15rem;
        height: 10rem;
    }

    .imagesContainer h1 {
        font-size: 1.4rem;
    }

    .imagesContainer a {
        font-size: .8rem;
    }

    .imagesContainer p {
        font-size: .7rem;
    }

    .imagesContainerdiv {
        text-align: center;
    }
}