.main{
    height: max-content;
}
.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    min-width:100%;
    gap: 1rem;
    margin-left: 1rem;
}


.image {
    width: 98%;
    height: 100%;
    border-radius: 1rem;
}

.link{
    text-decoration: none;
    color: var(--text2);
    font-size: .6rem;
    font-weight: bold;
    text-align: center;

}

.link:hover {
   color: #eff300;
}

.description {
    padding-top: .5rem;
    color: var(--text);
    font-size: 1rem;
}

.cardContainer {
    position: relative;
    width: 15rem;
    height: 15rem;
    background: var(--secundary);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: .6rem;
}

.card{
    position: absolute;
    inset: 10px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secundary);
    flex-direction: column;
    z-index: 1;
    color: #fff;
}

.cardContainer::after {
    content: '';
    position: absolute;
    width: 30rem;
    height: 100rem;
    background-image: conic-gradient(transparent, #4C0027, transparent, #4C0027);
    animation: animate 4s linear infinite;
    animation-delay: -2s;

}

.cardContainer::before {
    content: '';
    position: absolute;
    width: 30rem;
    height: 100rem;
    background-image: conic-gradient(transparent, #4C0027, transparent, #4C0027);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    20% {
        margin-left: -100%;
    }

    40% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    80% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }
}

@media (max-width:1400px) {
    .container {
        grid-template-columns: repeat(4, 1fr);        
    }
    
}

@media (max-width:900px) {
    .cardContainer {
        position: relative;
        width: 12rem;
        height: 12rem;
    }

    .link{
        font-size: .5rem;
    }
}

@media (max-width:690px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 8rem;
        max-height: 40rem;   
        overflow-y: scroll;
        overflow-x:hidden;
    }
} 