.conteiner{
    height: 80vh;
    display:grid;
    justify-content: center;
    padding: 0 2rem;
}
.tecnical{
    display:flex;
    flex-direction:row;
    align-items:center;
    color: var(--text);
    font-size: .8rem;    
}
.tecnicalInfo{
    font-size: 1rem;
    width: 15rem;
}

.tecnicalInfo img{
    padding-left: 3rem;
    width: 5rem;
    height: 5rem;
}
.tskills img{
    padding-left: 5rem;
    width: 3rem;
    height: 3rem;
}

.tskills div{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 1rem;
}

@media (max-width: 1200px){
    .tecnical{
        font-size: 1rem;
    }
    .tskills{
        display:flex;
        flex-direction:column;
        font-size: .8rem;
    }
    .tskills img{
        padding-left: 3rem;
        width: 2.5rem;
        height: 2.5rem;
    }
   
}

@media (max-width: 900px){
    .tecnical{
        display:flex;
        flex-direction:column;
        gap:auto;
        font-size: .5rem;
        padding: 0;
    }
    .tecnicalInfo{
        align-items: center;
    }
    .tskills{
        display:flex;
        flex-direction:column;
    }
    .tskills img{
        padding-left: 3rem;
        width: 1.8rem;
        height: 1.8rem;
    }
}

@media (max-width: 630px){
    .conteiner{
        padding: .5rem;
    }
    
    .tecnicalInfo{
        justify-content: center;
        align-items: center;
        font-size: .9rem;
    }
    .tecnicalInfo img{
        padding-left: 3rem;
        width: 3rem;
        height: 3rem;
    }
    .tskills{
        font-size: .6rem;
    }
    .tskills img{
        padding-left: 3rem;
        width: 1.7rem;
        height: 1.7rem;
    }
    .tskills div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: auto;
    }
}