.card {
    display: flex;
    width: 30vw;
    height: 70vh;
    margin: auto;
    padding: 3rem;
    border-radius: 1rem;
    background-color: var(--primary);
}

.card_logo {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.card_logo h1 {
    text-align: center;
    color: var(--text2);
    font-weight: bolder;
    font-size: 1.8rem;
}

.card_logo p {
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    color: var(--text);
}

@media (max-width: 1440px) {
    .card {
        width: 50%;
        height: 80vh;
        padding: .5rem;
    }

    .card_logo h1 {
        font-size: 1.5rem;
    }

    .card_logo img {
        align-items: center;
        width: 80%;
        height: 90%;
    }


}

@media (max-width: 690px) {
    .card {
        width: 80%;
        height: 50vh;
        padding: .5rem;
    }

    .card_logo {
        width: 100%;
        height: 80%;
    }

    .card_logo img {
        border-radius: .5rem;
        margin: 0;
    }

    .card_logo h1 {
        margin: 0;
        font-size: 1rem;
    }

    .card_logo p {
        margin: 0;
        font-size: .8rem;
    }

    article {
        padding: 0;
    }
}