.card {
    display: grid;
    width: 30rem;
    height: 45rem;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgb(81, 81, 81);
    box-shadow: 4px 4px 20px rgb(0, 0, 0);
}

.card_logo {
    width: 20rem;
    height: 20rem;
    margin:0 auto;
}

.card_logo h1 {
    text-align: center;
    color: var(--text);
    font-weight: bolder;
    font-size: 1.8rem;
}

.card_logo img {
    width: 20rem;
    height: 35rem;
    border-radius: 5rem;
}

.card_logo p {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    color: rgb(159, 159, 159);

}

article {
    
    font-size: 1.2rem;
    color: rgb(159, 159, 159);
}



@media (max-width: 690px) {
    .card {
        width: 15rem;
        height: 36rem;
    }

    .card_logo {
        width: 15rem;
        height: 25rem;
    }

    .card_logo img {
        width: 15rem;
        height: 25rem;
    }

    .card_logo h1 {
        margin: 0;
    }

    .card_logo p {
        margin: 0;
    }

    article {
        padding: 0;
    }
}