.card{
    display: grid;
    width: 30rem;
    height: 45rem;
    margin:auto;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgb(81, 81, 81);
    box-shadow: 4px 4px 20px rgb(0, 0, 0);
}

.card_logo{
    width: 20rem;
    height: 20rem;
    margin: auto;
}

.card_logo h1{
    text-align: center;
    margin-top: 1rem;
    color: var(--text);
    font-weight: bolder;
    font-size: 1.8rem;
}

.card_logo img{
    width: 20rem;
    height: 35rem;
    border-radius: 5rem;
}
.card_logo p{
    text-align: center;
    margin-top: 2rem;
    font-weight: bolder;
    font-size: 1.5rem;
    color: rgb(159, 159, 159);

}

.conteiner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.conteiner a{
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}

.conteiner a:hover{
    transform: translateY(-10px);
}
article{
    font-size: 1.2rem;
    padding-top: 20rem;
    color: rgb(159, 159, 159);

}