.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    gap: 1rem;
}

.personalInformation {
    padding: 1rem;
    color: var(--text);
    font-size: .7rem;
    border-radius: 2rem;
}

.imageCarrousel {
    overflow: hidden;
    border-radius: 3rem;
    max-width: 30rem;
    max-height: 30rem;
}

.imageCarrousel img {
    height: 30rem;
}

.imageCarrousel ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 15s infinite alternate ease-in-out;

}

.imageCarrousel li {
    list-style: none;
    width: 100%;
}

.imageCarrousel img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    20% {
        margin-left: -100%;
    }

    40% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    80% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }
}


@media (max-width: 1270px) {

    .personalInformation {
        font-size: 8px;
    }    
}
@media (max-width: 930px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .personalInformation {
        padding: 0 2rem 0 2rem;
        color: var(--text);
        font-size: 7px;
        margin-top: 1rem;
        width: 100%;
    }

    .imageCarrousel {
        padding:0;
        margin: 0 20rem;
        width: 25rem;
        height: 20rem;
        overflow: hidden;
        border-radius: 2rem;
    }


    
}

@media (max-width: 690px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .personalInformation {
        padding: 0 1rem;
        margin:1rem;
        color: var(--text);
    }

    .imageCarrousel {
        padding:0;
        margin: 0 2rem 0 2rem;
        width: 20rem;
        height: 15rem;
    }

    .imageCarrousel img{
        height: 20rem;
    }

}

