.container {
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;

}

.personalInformation {
    padding: 1rem;
    margin:auto 1rem ;
    color: var(--text);
    font-size: .6rem;
    border: 5px solid var(--primary);
    background-color: var(--primary);
    border-radius: 2rem;
}

.imageCarrousel {
    overflow: hidden;
    border-radius: 2rem;
    width: 50rem;
}

.imageCarrousel img {
    height: 25rem;
}

.imageCarrousel ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 15s infinite alternate ease-in-out;

}

.imageCarrousel li {
    list-style: none;
    width: 100%;
}

.imageCarrousel img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    20% {
        margin-left: -100%;
    }

    40% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    80% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }
}


@media (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .personalInformation {
        padding: 0 2rem 0 2rem;
        margin: 0 2rem 1rem 0;
        color: var(--text);
        font-size: 8px;
        margin-top: 1rem;
    }

    .imageCarrousel {
        padding:0;
        margin: 0 20rem;
        width: 30rem;
        height: 25rem;
        overflow: hidden;
        border-radius: 2rem;
    }


    
}
@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .personalInformation {
        padding: 0 2rem 0 2rem;
        margin: 0 2rem 1rem 0;
        color: var(--text);
        font-size: 7px;
        margin-top: 1rem;
    }

    .imageCarrousel {
        padding:0;
        margin: 0 20rem;
        width: 30rem;
        height: 25rem;
        overflow: hidden;
        border-radius: 2rem;
    }


    
}

@media (max-width: 630px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: .5rem 0;
    }

    .personalInformation {
        padding: 0 1rem;
        margin:1rem;
        color: var(--text);
        font-size: 5px;
    }

    .imageCarrousel {
        padding:0;
        margin: 0 2rem 0 2rem;
        width: 20rem;
        height: 20rem;
        overflow: hidden;

        border-radius: 2rem;
    }

}

