.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    gap: 1rem;

}

.imageCarrousel {
    overflow: hidden;
    border-radius: 3rem;
    max-width: 30rem;
    max-height: 30rem;
}

.imageCarrousel img {
    height: 30rem;
}

.imageCarrousel ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 15s infinite alternate ease-in-out;

}

.imageCarrousel li {
    list-style: none;
    width: 100%;
}

.imageCarrousel img {
    width: 100%;
}

.personalInformation {
    position: absolute;
    left: 40%;
    width: 50%;
    height: 60%;
    background: var(--secundary);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: .6rem;

}

.personalInformation h1 {
    position: absolute;
    inset: 10px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secundary);
    flex-direction: column;
    z-index: 1;
    color: #fff;
}

.personalInformation::after {
    content: '';
    position: absolute;
    width: 30rem;
    height: 100rem;
    background-image: conic-gradient(transparent, transparent, transparent, #4C0027);
    animation: animate 4s linear infinite;
    animation-delay: -2s;

}

.personalInformation::before {
    content: '';
    position: absolute;
    width: 30rem;
    height: 100rem;
    background-image: conic-gradient(transparent, transparent, transparent, #4C0027);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    20% {
        margin-left: -100%;
    }

    40% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    80% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }
}


@media (max-width: 1080px) {

    .personalInformation {
        left: 50%;
        font-size: 8px;
    }
}

@media (max-width: 690px) {

    .container {
        flex-direction: column;
    }


    .imageCarrousel {
        position: absolute;
        top: 20%;
        padding: 0;
        margin: 0 2rem 0 2rem;
        width: 20rem;
        height: 15rem;
    }

    .imageCarrousel img {
        height: 20rem;
    }

    .personalInformation {
        bottom: 5%;
        left: 0;
        width: 90%;
        height: 40%;
        margin: 1rem;
        color: var(--text);
        font-size: .3rem;
    }
}