.container {
    display: flex;
}

.personalInformation {
    padding:3rem;
    margin-right: 5rem  ;
    color: var(--text);
    font-size: 12px;
    border: 5px solid var(--primary);
    background-color: var(--primary);
    border-radius: 2rem;
    height: 100%;
}

.imageCarrousel {
    width: 60rem;
    height: auto;
    margin: 1rem 5rem 5rem 5rem;
    overflow: hidden;

    border-radius: 2rem;
}

@media (max-width: 1044px) {
    .container {
        display: grid;
        flex-direction: column;
    }

    .personalInformation {
        padding: 0 2rem 0 2rem;
        color: var(--text);
        font-size: 7px;
    }

    .imageCarrousel {
        padding:0;
        margin: 0 10rem 0 10rem;
        width: auto;
        height: auto;
        overflow: hidden;

        border-radius: 2rem;
    }

    .imageCarrousel img {
        width: auto;
        height: 3rem;
    }
}

@media (max-width: 768px) {
    .container {
        display: grid;
        flex-direction: column;
    }

    .personalInformation {
        padding: 0 2rem 0 2rem;
        color: var(--text);
        font-size: 6px;
    }

    .imageCarrousel {
        padding:0;
        margin: 0 2rem 0 2rem;
        width: auto;
        height: auto;
        overflow: hidden;

        border-radius: 2rem;
    }

    .imageCarrousel img {
        width: auto;
        height: 3rem;
    }
}

.imageCarrousel img {
    height: 25rem;
}

.imageCarrousel ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 15s infinite alternate ease-in-out;

}

.imageCarrousel li {
    list-style: none;
    width: 100%;
}

.imageCarrousel img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    20% {
        margin-left: -100%;
    }

    40% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    80% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }
}