:root {
    --secundary: #80558C;
    --primary: #3586ff;
    --text: #fff;
    --texth: #fcc110;
}

html {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: #333;
}

h1,
h2,
p {
    padding: 0;
    margin: 0;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}
::-webkit-scrollbar{
    width:1.5rem;
}

::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 1rem;
}