:root {
    --secundary: #80558C;
    --primary: #04127a;
    --text: #a38321;
    --texth: #fcc110;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
p {
    padding: 0;
    margin: 0;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header {
    align-items: top;
    position: static;
    width: 100%;
    top: 0;
}

.body{
    align-content: center;
    height: auto;
}

.footer {
    align-items: bottom;
    position:static;
    width: 100%;
}