:root {
    --secundary: #80558C;
    --primary: #006778;
    --text: #b69005;
    --texth: #fcc110;
}

html {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
p {
    padding: 0;
    margin: 0;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header {
    align-items: top;
    position: static;
    width: 100%;
    top: 0;
}

.body{
    align-content: center;
    height: auto;
    background-color: #007688;
}

.footer {
    align-items: bottom;
    position:static;
    width: 100%;
}